In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

In [3]:
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

README.md: 0.00B [00:00, ?B/s]

d:\Anaconda\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Anas\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [5]:
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

In [6]:
df

             job_title_short  ...                                    job_type_skills
0       Senior Data Engineer  ...                                               None
1               Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2              Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3              Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4              Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
...                      ...  ...                                                ...
785736     Software Engineer  ...  {'os': ['linux', 'unix'], 'other': ['kubernete...
785737          Data Analyst  ...  {'analyst_tools': ['sas', 'excel'], 'programmi...
785738      Business Analyst  ...         {'analyst_tools': ['powerpoint', 'excel']}
785739         Data Engineer  ...  {'cloud': ['aws', 'snowflake', 'azure', 'redsh...
785740     Software Engineer  ...              {'cloud': ['aws'], 'other': ['flow']}

[785741 rows x 17 columns]

In [7]:
df.iloc[2]

job_title_short                                              Data Engineer
job_title                Data Engineer/Scientist/Analyst, Mid or Senior...
job_location                                               Berlin, Germany
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                    Germany
job_posted_date                                        2023-10-10 13:14:55
job_no_degree_mention                                                False
job_health_insurance                                                 False
job_country                                                        Germany
salary_rate                                                           None
salary_year_avg                                                        NaN
salary_hour_avg                                                        NaN
company_name                                      ALPHA Augmented Services
job_skills               ['python', 'sql', 'c#', 'azure', 'airflow', 'd...
job_type_skills          {'analyst_tools': ['dax'], 'cloud': ['azure'],...
Name: 2, dtype: object

In [16]:
df.iloc[0:10]

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                               None
1          Data Analyst  ...  {'analyst_tools': ['power bi', 'tableau'], 'pr...
2         Data Engineer  ...  {'analyst_tools': ['dax'], 'cloud': ['azure'],...
3         Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
4         Data Engineer  ...  {'cloud': ['oracle', 'aws'], 'other': ['ansibl...
5         Data Engineer  ...  {'cloud': ['gcp'], 'programming': ['python', '...
6  Senior Data Engineer  ...  {'cloud': ['gcp', 'bigquery'], 'databases': ['...
7         Data Engineer  ...  {'cloud': ['gcp', 'azure', 'aws', 'bigquery', ...
8      Business Analyst  ...  {'analyst_tools': ['excel', 'powerpoint', 'pow...
9        Data Scientist  ...  {'analyst_tools': ['excel'], 'cloud': ['azure'...

[10 rows x 17 columns]

In [19]:
df.iloc[0:10, :8]

        job_title_short  ...     job_posted_date
0  Senior Data Engineer  ... 2023-06-16 13:44:15
1          Data Analyst  ... 2023-01-14 13:18:07
2         Data Engineer  ... 2023-10-10 13:14:55
3         Data Engineer  ... 2023-07-04 13:01:41
4         Data Engineer  ... 2023-08-07 14:29:36
5         Data Engineer  ... 2023-11-07 14:01:59
6  Senior Data Engineer  ... 2023-03-27 13:18:18
7         Data Engineer  ... 2023-12-07 13:40:49
8      Business Analyst  ... 2023-06-05 13:44:34
9        Data Scientist  ... 2023-04-23 13:02:57

[10 rows x 8 columns]

In [28]:
df.loc[10:20,'job_title_short':'job_work_from_home']

         job_title_short  ... job_work_from_home
10         Data Engineer  ...              False
11         Data Engineer  ...              False
12          Data Analyst  ...              False
13  Senior Data Engineer  ...              False
14         Data Engineer  ...              False
15         Data Engineer  ...              False
16         Data Engineer  ...              False
17        Data Scientist  ...              False
18          Data Analyst  ...              False
19        Data Scientist  ...              False
20        Data Scientist  ...              False

[11 rows x 6 columns]