In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datasets import load_dataset

In [4]:
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()

In [5]:
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

In [12]:
df.sample(10, random_state=42)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
502901,Senior Data Engineer,Senior Data Engineer,"St Paul, MN",via BeBee,Full-time,False,"Florida, United States",2023-12-17 11:09:06,False,False,United States,None,NaN,NaN,ManpowerGroup,"['sql', 'azure', 'git']","{'cloud': ['azure'], 'other': ['git'], 'progra..."
406337,Senior Data Scientist,Senior Analytics Engineer,"London, UK",via LinkedIn,Full-time,False,United Kingdom,2023-10-06 16:09:56,False,False,United Kingdom,None,NaN,NaN,Harnham,"['sql', 'python', 'bigquery', 'snowflake', 'lo...","{'analyst_tools': ['looker'], 'cloud': ['bigqu..."
659951,Data Engineer,Data Engineer,"Newcastle upon Tyne, UK",via Indeed,Full-time,False,United Kingdom,2023-09-06 10:11:25,True,False,United Kingdom,None,NaN,NaN,Morgan King,None,None
541593,Data Analyst,Data Analyst,Malta,via Trabajo.org,Full-time,False,Malta,2023-02-14 21:14:18,True,False,Malta,None,NaN,NaN,Konnekt,['jira'],{'async': ['jira']}
425158,Senior Data Engineer,Senior Data Engineer. Job in Amsterdam NBC4i Jobs,"Amsterdam, Netherlands",via NBC4i Jobs,Full-time,False,Netherlands,2023-06-19 16:34:30,True,False,Netherlands,None,NaN,NaN,Independent Recruiters,['python'],{'programming': ['python']}
183426,Data Analyst,Data Analyst,Singapore,via Singapore | JobsDB,Full-time,False,Singapore,2023-11-09 16:07:57,False,False,Singapore,None,NaN,NaN,FLEXOSENSE PTE. LTD.,"['r', 'python', 'java', 'sql', 'sql server', '...","{'analyst_tools': ['tableau'], 'cloud': ['orac..."
287790,Data Analyst,Data Analyst,"Tampa, FL",via LinkedIn,Full-time,False,"Florida, United States",2023-07-14 17:02:23,True,False,United States,None,NaN,NaN,Iris Software Inc.,"['sql', 'hadoop', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['ha..."
541983,Data Analyst,"Data Analyst, Cloud Systems Jobs","Chantilly, VA",via Clearance Jobs,Full-time,False,Georgia,2023-06-15 19:44:34,False,False,United States,None,NaN,NaN,SAIC,"['sql', 'r', 'matlab', 'python', 'oracle', 'aw...","{'analyst_tools': ['power bi', 'tableau', 'qli..."
416896,Data Scientist,Alternant Actuariat & Data Science H/F,France,via LinkedIn,Full-time,False,France,2023-09-22 16:47:24,False,False,France,None,NaN,NaN,KPMG France,None,None
780907,Data Engineer,"Data Engineer with Fivetran,Qlik Must","Mexico City, CDMX, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-16 06:19:09,False,False,Mexico,None,NaN,NaN,CORUS Consulting,"['oracle', 'snowflake', 'aws', 'azure', 'alter...","{'analyst_tools': ['alteryx'], 'cloud': ['orac..."

In [13]:
df_original=dataset['train'].to_pandas()

In [14]:
df_altered=df_original.copy()

In [15]:
id(df_original)

3027825149808

In [16]:
id(df_altered)

3027825150720

In [22]:
df.sample(frac=0.1)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
290243,Data Analyst,Business und Data Analyst (m/w/d),Switzerland,via Indeed,Full-time,False,Switzerland,2023-06-27 17:40:14,True,False,Switzerland,None,NaN,NaN,COMPEGAS HR Management GmbH,"['sql', 'vba', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
186306,Software Engineer,DevOps Engineer,"Canberra ACT, Australia",via Trabajo.org,Full-time,False,Australia,2023-05-04 15:22:47,True,False,Australia,None,NaN,NaN,Datacom,"['powershell', 'javascript', 'python', 'aws', ...","{'cloud': ['aws', 'vmware'], 'os': ['windows',..."
358819,Data Scientist,Data scientist sql data or,"Chicago, IL",via BeBee,Full-time,False,"Illinois, United States",2023-10-13 23:04:13,False,False,United States,None,NaN,NaN,"Advent Global Solutions, Inc.","['sql', 'python', 'java', 'scala', 'perl', 'r'...","{'libraries': ['hadoop', 'spark'], 'programmin..."
300848,Data Engineer,BUSINESS DATA ANALYST/ENGINEER (m/w/d),"Dresden, Germany",via LinkedIn,Full-time,False,Germany,2023-04-14 17:50:27,True,False,Germany,None,NaN,NaN,Fortuneglobe GmbH,"['sql', 'python', 'php', 'excel', 'qlik']","{'analyst_tools': ['excel', 'qlik'], 'programm..."
640165,Data Scientist,Data Scientist Lead,"Dallas, TX",via Trabajo.org,Full-time,False,Sudan,2023-03-12 12:30:48,False,False,Sudan,None,NaN,NaN,Wipro,"['python', 'git', 'github', 'jenkins', 'terraf...","{'other': ['git', 'github', 'jenkins', 'terraf..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407321,Data Engineer,Lead Data Engineer,"NEWCOMB HALL, VA",via LifeworQ,Full-time and Part-time,False,"New York, United States",2023-12-05 16:04:58,False,True,United States,year,179000.0,NaN,Capital One,"['aws', 'jira']","{'async': ['jira'], 'cloud': ['aws']}"
154876,Data Scientist,Hiring for Analyst,"Kuala Lumpur, Federal Territory of Kuala Lumpu...",via BeBee Malaysia,Full-time,False,Malaysia,2023-03-30 08:13:27,True,False,Malaysia,None,NaN,NaN,Standard Chartered Bank Malaysia,"['java', 'shell', 'oracle', 'sharepoint', 'jen...","{'analyst_tools': ['sharepoint'], 'async': ['j..."
462870,Senior Data Scientist,Consultant Senior Data Science H/F,"Paris, France",via HelloWork,Full-time,False,France,2023-01-19 14:56:44,False,False,France,None,NaN,NaN,Sia Partners,"['python', 'r', 'sas', 'sas', 'matlab', 'javas...","{'analyst_tools': ['sas'], 'cloud': ['azure'],..."
317148,Data Analyst,Data Analyst. Job in Schaffhausen LilyLifestyl...,"Schaffhausen, Switzerland",via LilyLifestyle Jobs,Full-time,False,Switzerland,2023-03-15 17:20:13,True,False,Switzerland,None,NaN,NaN,GITR,"['go', 'python', 'spreadsheet', 'git', 'jira']","{'analyst_tools': ['spreadsheet'], 'async': ['..."
124751,Data Engineer,【US Fintech】Bilingual Data Engineer,Anywhere,via LinkedIn,Full-time,True,Japan,2023-09-05 08:53:05,True,False,Japan,None,NaN,NaN,スキルハウス・スタッフィング・ソリューションズ株式会社,"['sql', 'python', 'flow']","{'other': ['flow'], 'programming': ['sql', 'py..."